// remove gutters from rows
.no-gutters {
  margin-right: -15px;
  margin-left: -15px;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
// to hide elements for non-screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.mh-100{
  min-height: 100vh;
}

.img-responsive{
    max-width: 100%;
}
