body{
  font-family: $sans;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 200;
  color: $text-color;
}

a{
  color: inherit;
  &:hover{
    color: $brand-light;
  }
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5{
  // font-family: $heading-font;
  // font-weight: 400;
  // color: $heading-color;
}


// fluid type
/*
// Single property
html {
  @include fluid-type(font-size, 320px, 1366px, 14px, 18px);
}

// Multiple properties with same values
h1 {
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 2em, 4em);
}
*/

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
