
body{
  font-family: "Value-font", sans-serif;
  font-size: 22px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include sm-down {
    font-size: 18px;
  }
}
a{
  color: inherit;
  text-decoration: none;
  color: #000;
  &:hover{
    color: inherit;
  }
}
.underline {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
}
.underline:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  width: 0;
  height: 3px;
  background: #000;
  transition: width .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.underline.thin:before {
  height: 1px;
}
/* Structure -------------------------------------------------------*/

main{
  padding-top: 80px;
  min-height: calc(100vh - 109px);
  @include md-down {
    padding-top: 60px;
  }
  @include sm-down {
    min-height: calc(100vh - 65px);
  }
}


/* header -------------------------------------------------------*/

.site-header{
  position: fixed;
  z-index: 50;
  width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  background: #fff;
  height: 80px;
  top: 0;
  left: 0;
  @include fluid-type(font-size, $sm-min, $xxl, 18px, 24px);
  a{
    margin: 0 0.4em 0;
    display: block;
  }

  ul{
    margin: 0;
    padding: 0;
  }
}
.primary-nav{
  width: calc(50% - 50px);
  padding: 3px 0;
  li{
    display: inline-block;
  }
  .active a:before {
    width: 100%;
  }
  .underline {
    padding-bottom: 6px;
  }
}
.secondary-nav{
  width: calc(50% - 50px);
  padding: 3px 0;
  text-align: right;
  li{
    display: inline-block;
  }
  .active a:before{
    width: 100%;
  }
  .underline {
    padding-bottom: 6px;
  }
}

.site-id{
  img{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 1300px) and (min-width: 992px) {
  .site-id {
    position: absolute;
    left: 30px;
  }
  .primary-nav {
    text-align: center;
    margin: auto;
    width: 100%;
    position: absolute;
  }
  .secondary-nav {
    position: absolute;
    right: 30px;
  }
}

/* Menu on mobile ------------------------------------------------------- */

@include md-down {
  .site-id{
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 9px;
    text-align: center;
    z-index: 2;
    img{
      width: 80px;
      padding-top: 8px;
    }
  }
  .site-header{
    padding: 10px 0;
    min-height: 60px;
    transition: min-height 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    &.active{
      min-height: 100%;
      .primary-nav,
      .secondary-nav{
        opacity: 1;
        transition: opacity 0.2s 0.2s ease-in-out;
      }
    }
    &:before{
      content: " ";
      width: 100%;
      height: 60px;
      top: 0;
      display: block;
      position: absolute;
      z-index: 1;
      background: #fff;
    }
  }
  .primary-nav{
    width: 100%;
    background: rgba(255,255,255, 0.8);
    padding: 60px 10px 30px;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    li{
      display: block;
      a {
        display: inline-block;
      }
    }
  }
  .secondary-nav{
    width: 100%;
    font-size: 24px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}



$bar-width: 30px;
$bar-height: 3px;
$bar-spacing: 8px;


.menu-wrapper {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 21px;
  margin: auto;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
  display: block;
  @include md-up{
    display: none;
  }
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
}

.hamburger-menu {
  position: relative;
  transform: translateY($bar-spacing);
  background: rgba(0,0,0, 1);
  transition: all 0ms 300ms;

  &.active {
    background: rgba(0,0,0, 0);
  }
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(0,0,0, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(0,0,0, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.active:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.active:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}


/* Homepage ------------------------------------------------------- */
.swiper-hero{
  position: relative;
  margin-bottom: 60px;
  .swiper-hero-img{
    height: 40vw;
    min-height: 500px;
    max-height: 800px;
    width: 50%;
    float: left;
    background-size: cover;
    background-position: center center;
  }
  .swiper-hero-info{
    height: 40vw;
    min-height: 500px;
    max-height: 800px;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF0DE;
    padding: 40px;
  }
  .swiper-hero-title{
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    text-align: center;
    line-height: 64px;
    opacity: 0;
    transition: 0.4s 0.2s ease-in-out;
  }
  .swiper-hero-link{
    display: inline-block;
    margin-top: 15px;
    opacity: 0;
    transition: 0.4s 0.2s ease-in-out;
  }
  .swiper-slide-active{
    .swiper-hero-title,
    .swiper-hero-link{
      opacity: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev{
    position: absolute;
    bottom: 30px;
    top: auto;
    left: auto;
  }
  .swiper-button-next{
    right: 30px;
  }
  .swiper-button-prev{
    right: 80px;
  }

  @include md-down {
    .swiper-hero-info,
    .swiper-hero-img{
      float: none;
      width: 100%;
    }
    .swiper-slide{
      height: calc(100vh - 60px);
    }
    .swiper-hero-img{
      height: 60%;
      min-height: 0;
      max-height: none;
    }
    .swiper-hero-info{
      height: 40%;
      min-height: 0;
      max-height: none;
    }
    .swiper-button-prev {
      left: 30px;
    }
  }
}
@include sm-down {
  .menu-wrapper {
    right: 20px;
  }
  .swiper-hero {
    margin-bottom: 15px;
    .swiper-hero-info {
      padding: 15px;
    }
    .swiper-hero-title {
      line-height: 1.2;
      font-size: 1.3em;
    }
    .swiper-hero-link {
      margin-top: 5px;
    }
    .swiper-button-prev {
      left: 15px;
      bottom: 15px;
    }
    .swiper-button-next {
      right: 15px;
      bottom: 15px;
    }
  }
}
.swiper-button-next,
.swiper-button-prev{
  width: 31px;
  height: 31px;
}
.swiper-button-prev,
.swiper-button-next{
  background-image: none;
}
.section-title {
  max-width: 200px;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.8em;
}
.img-container {
  overflow: hidden;
  img {
    transition: transform .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}
.project-list-item,
.news-list-item {
  position: relative;
  display: block;
  .img-container {
    width: 100%;
    height: 14vw;
    max-height: 220px;
    margin-bottom: 10px;
  }
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-list-title{
  font-weight: bold;
}
.project-list-sub-title {
  opacity: 0.5;
  display: block;
  line-height: 1.2;
}
.news-list-date,
.project-list-price,
.project-list-sub-title{
  opacity: 0.5;
  font-size: .8em;
  display: block;
}
.news-list-title {
  font-weight: bold;
  padding-right: 40px;
  position: relative;
  display: block;
}
.news-list-title:after {
  content: " ";
  background-image: url(../assets/nav-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
}
.container {
  padding: 60px 15px 30px 15px;
}
.box-link {
  border: 3px solid #000;
  padding: 6px 15px 8px 15px;
  margin: 60px auto 0 auto;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #fff;
  transition: all 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  position: relative;
  letter-spacing: 1px;
  cursor: pointer;
}
.box-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@include md-down {
  .section-title {
    padding-bottom: 15px;
    max-width: none;
    text-align: center;
  }
  .box-link {
    margin-top: 30px;
  }

}
@include sm-down {

  .container {
    padding: 20px 5px 40px 5px;
  }
  .project-list-item,
  .news-list-item {
    padding-bottom: 30px;
    .img-container {
      margin-bottom: 10px;
    }
  }
  .news-list-description {
    padding-top: 5px;
  }
  .box-link {
    margin-top: 0px;
    letter-spacing: 0;
  }
  .project-list-title,
  .project-list-sub-title {
    line-height: 1.2;
  }
}




/* About ------------------------------------------------------- */

.biography-section {
  padding: 40px 15px;
}
.biography-section:first-child {
  margin-top: 60px;
}
.basic-paragraph {
  opacity: 0.5;
  padding: 0 0 10px 0;
  max-width: 800px;
}
.bold {
  font-weight: bold;
  padding-bottom: 15px;
  display: block;
  letter-spacing: 1px;
}
.dotted-list {
  opacity: .5;
  padding-bottom: 30px;
  list-style-position: inside;
  padding-left: 0;
  max-width: 800px;
}
.about-img {
  height: 300px;
  max-width: 20vw;
  padding-top: 30px;
  display: block;
  object-fit: contain;
}
.dotted-list li:before  {
  content: "• "
}
@include md-down {
  .biography-section {
    padding-left: 15px;
    padding-right: 15px;
    .section-title {
      text-align: left;
    }
  }
  .biography-section:first-child {
    margin-top: 30px;
  }
}
@include sm-down {
.section-title {
    padding-bottom: 15px;
    max-width: none;
    text-align: center;
}
  .collapse {
    display: none;
  }
  .about-img {
    margin: auto;
    max-width: 80%;
    padding: 30px 0 45px 0;
  }
  .biography-section {
    padding: 0px 5px;
    .section-title {
      text-align: center;
      padding: 0 15px;
    }
    .slide-toggle {
      font-size: 1.2em;
    }
    .slide-toggle:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 22px;
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .slide-toggle {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      padding: 15px;
    }
    .biography-description {
      padding-bottom: 30px;
    }
    .bold {
      text-align: center;
    }
    .collapse{
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      padding-top: 30px;
    }
  }

}





/* Projects — News ------------------------------------------------------- */

.grid {
  padding: 0;
  .project-list-item,
  .news-list-item {
    padding: 0 15px 30px 15px;
    width: 33.33%;
    display: inline-block;
    transition:  opacity 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .grid-item {
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
  }
}

.filters-container,
.text-container {
  margin-top: 30px;
}
.text-container {
  font-size: .8em;
}
.filter-button {
  border-radius: 0;
  border: 3px solid #000;
  font-size: 1em;
  padding: 6px 15px 6px 15px;
  margin: 0 3px 7px 0;
  font-weight: bold;
  background-color: #fff;
  display: block;
  cursor: pointer;
  font-size: .8em;
}
.is-checked {
  background-color: #000;
  color: #fff;
}

@include md-down {
  .filters-container,
  .text-container {
    max-width: 50%;
    margin: 0px auto 15px auto;
    text-align: center;
  }
  .filter-button {
    text-align: center;
    display: inline-block;
  }
  .grid {
    margin-top: 15px;
  }
  .project-list-item,
  .news-list-item,
  .grid .project-list-item,
  .grid .news-list-item {
    .img-container{
      height: 20vw;
      max-height: 220px;
    }
  }
}
@include sm-down {
  .projects-container,
  .news-container {
    margin-top: 15px;
    padding-bottom: 0px;
  }
  .grid {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
    .project-list-item,
    .project-list-item:last-child,
    .news-list-item,
    .news-list-item:last-child {
      padding: 0 10px 20px 10px;
      width: 50%;
    }


  }
  .news-list-title:after {
    width: 18px;
    top: 3px;
  }
  .filters-container,
  .text-container {
    margin: 10px auto;
    max-width: 500px;
  }

  .project-list-item,
  .grid .project-list-item,
  .news-list-item,
  .grid .news-list-item {
    .img-container{
      height: 30vw;
      max-height: 220px;
    }
  }
  .pad-right {
    padding-right: 10px !important;
  }
  .pad-left {
    padding-left: 10px !important;
  }
}



/* Press — Contact ------------------------------------------------------- */

table {
  text-align: left;
  width: 100%;
  th {
    padding-bottom: 30px;
  }
  td {
    opacity: 0.5;
    padding-bottom: 30px;
    span {
      display: block;
    }
  }
  img {
    display: block;
    width: 20px;
  }
}
.press-link {
  position: relative;
}
.press-link:after {
  content: " ";
  background-image: url(../assets/nav-right.svg);
  background-repeat: no-repeat;
  width: 15px;
  position: absolute;
  height: 25px;
  top: 9px;
  margin-left: 7px;
}
.date-col {
  width: 20%;
  padding-right: 15px;
}
.title-col {
  width: 70%;
  padding-right: 15px;
}
.doc-col {
  width: 10%;
  a {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    display: inline-block;
  }
  img {
    transform: rotate(90deg);
  }
}
.contact-section {
  padding-top: 10vw;
}
.contact-info {
  max-width: 800px;
  margin: auto;
  .bold {
    padding-bottom: 0;
  }
  p {
    padding-bottom: 15px;
  }
}
@include md-down {
  .press-section {
    padding-bottom: 0;
  }
  table {
    margin-top: 15px;
  }
  .contact-section {
    text-align: center;
    padding-top: 60px;
  }
  .contact-info {
    padding-top: 10vh;
  }
}
@include sm-down {
  .contact-section {
    padding-top: 30px;
  }
  .contact-info {
    padding-top: 30px;
  }
  .press-section {
    padding-top: 30px;
  }
  table {
    text-align: center;
    td {
      opacity: 1;
      padding: 10px 0;
    }
    tr  {
      border-top: 1px solid rgba(0, 0, 0, .3);
      margin: 10px 0;
    }
    .bold {
      display: block;
      padding: 5px 0;
    }
    .date-col {
      width: 100%;
      display: block;
      padding-top: 20px;
      padding-right: 0;
    }
    .title-col {
      width: 100%;
      display: block;
      padding-right: 0;
    }
    .doc-col {
      width: 50%;
      display: inline-block;
      padding-bottom: 20px;
      padding-right: 0;
      .bold {
        opacity: .5;
        font-size: .75em;
      }
      a {
        border-bottom: none;
        padding-bottom: 0px;
        display: inline;
      }
    }
    img {
      margin: auto;
    }
    .press-link-mobile {
      width: 50%;
      display: inline-block !important;
      padding-bottom: 20px;
      .bold {
        opacity: .5;
        font-size: .75em;
      }
      img {
        transform: rotate(-45deg);
      }
    }

  }
}

/* Project-page ------------------------------------------------------- */
.swiper-gallery {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 60px 0;
  text-align: center;
  .swiper-slide {
    img {
      width: 80%;
      height: calc(100vh - 420px);
      max-height: 50vw;
      min-height: 300px;
      object-fit: contain;
      margin: auto;
      display: block;
      padding-bottom: 60px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 57%;
  }
  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  }
}
.swiper-article {
  width: 100%;
  max-width: 918px;
  padding: 60px 0;
  text-align: center;
  .swiper-slide {
    img {
      width: 80%;
      max-width: 918px;
      height: 36vw;
      max-height: 50vh;
      object-fit: contain;
      margin: auto;
      display: block;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 63%;
  }
  .swiper-button-prev {
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
}
.swiper-product {
  width: 100%;
  height: calc(30vw + 45px);
  padding: 0 15px;
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      max-height: 30vw;
      object-fit: contain;
      margin: auto;
      display: block;
    }
  }
  .swiper-pagination {
    margin-top: 15px;
    padding-left: 15px;
    text-align: left;
    position: absolute;
    bottom: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    bottom: 0;
    top: auto;
    width: 22px;
  }
  .swiper-button-prev {
    right: 60px;
    left: auto;
  }
  .swiper-button-next {
    right: 15px;
  }
}
.swiper-gallery-title,
.swiper-gallery-title,
.product-title {
  display: block;
  font-weight: bold;
  font-size: 1.8em;
  padding-bottom: 15px;
  line-height: 1.2;
}
.swiper-gallery-caption {
  display: block;
  opacity: .5;
  padding-bottom: 30px;
  min-height: 130px;
}
.swiper-gallery-date {
  display: block;
  opacity: .5;
  padding-bottom: 60px;
}
.swiper-pagination-bullet-active {
  background-color: #000;
}
.product-section, .expand-order {
  padding: 3vw 0 0 0;
}
.product-price {
  padding: 15px 0 30px 0;
  font-weight: bold;
  display: block;
}
.product-section .box-link,
.expand-order .box-link {
  margin: 30px 0;
  transform: translate(0, 0);
}
.product-sub-title {
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 1.2;
  max-width: 400px;
}
.more-info-toggle-wrapper {
  text-align: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(0, 0, 0, .3);
  background-color: #fff;
  padding: 20px 15px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
.more-info-toggle {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  display: inline-block;
}
.more-info-toggle span:after{
  content: "more info";
}
.more-info-toggle span:before {
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  display: block;
  margin: 0 auto 0px auto;
  width: 8px;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.more-info-toggle.active span:after{
  content: "less info";
}
.more-info-toggle.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 0 auto 0 auto;
}
.expand-info, .article-content {
  background-color: rgba(255, 255, 255, .95);
  .container {
    max-width: 918px;
  }
  .row {
    margin: 0 -15px;
  }
  .project-title {
    display: block;
    font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 30px;
    line-height: 1.2;
  }
  .section-title {
    margin: 90px 0 45px 0;
    transform: translate(0,0);
    max-width: 100%;
  }
  .similar-projects{
    padding-bottom: 100px;
  }
  .other-articles {
    padding-bottom: 0px;
  }
}
.expand-order {
  background-color: rgb(255, 255, 255);
}
.expand-order-toggle {
  cursor: pointer;
}
.order-form {
  label, textarea, input {
    display: block;
    font-size: 1em;
    padding: 10px 0;
  }
  label {

    font-size: .75em;
  }
  textarea, input {
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    border: 2px solid #000;
    resize: none;
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: none;
  }
  textarea::placeholder, input::placeholder{
    color: #000;
    opacity: .5;
  }
  input.half-width {
    display: inline-block;
    width: calc(49.5%);
  }
  input.half-width:nth-child(6) {
    display: inline-block;
    float: right;
    width: calc(49%);
  }
  textarea.input-message {
    height: 10vw;
  }
  .assunto::placeholder {
    opacity: 1;
  }
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
}
.order-sent {
  background-color: #000;
  color: #fff;
  padding: 12px 15px;
  width: 100%;
  font-size: .75em;
  margin-bottom: 10px;
  display: none;
}
.order-sent:before {
  content: "";
  display: inline-block;
  width: 9px;
    height: 18px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 0 20px 0 5px;
}
.article-content .container {
  padding-top: 0;
}
.expand-info {
  display: none;
  height: calc(100vh - 160px);
  width: 100%;
  position: absolute;
  bottom: 80px;
  z-index: 1;
}
.expand-order {
  display: none;
  height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
.close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 150ms ease;
  z-index: 50;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@include md-down {
  .swiper-gallery {
    min-height: calc(100vh - 120px);
    .swiper-slide {
      position: relative;
      img {
        width: calc(100% - 180px);
        max-height: 80vw;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 55%;
    }
  }
  .expand-info {
    height: calc(100vh - 120px);
    bottom: 60px;
      .project-title  {
        text-align: center;
      }
    .container {
      padding: 45px 30px 30px 30px;
    }
  }
  .article-content {
    .container {
      padding: 0px 30px 30px 30px;
    }
  }
  .expand-order {
    height: calc(100vh - 60px);
    bottom: 0px;
    text-align: center;
    .product-sub-title {
      margin: auto;
    }
    form {
      text-align: left;
    }
  }
  .more-info-toggle-wrapper {
    height: 60px;
    padding: 10px 15px;
  }
  .product-section, .expand-order {
    padding: 0;
  }
  .product-section.transparent {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .product-section {
      transition: all 0.3s ease-in-out .2s;
      text-align: center;
  }
  .product-sub-title {
    padding-bottom: 30px;
  }
  .swiper-product {
    margin-top: 30px;
    height: calc(60vw + 45px);
    padding: 0;
    .swiper-slide {
      img {
        max-height: 60vw;
      }
    }
    .swiper-pagination {
      padding: 0;
    }
    .swiper-button-next {
    right: 0px;
    }
    .swiper-button-prev {
    right: 45px;
    }
  }

}

@include sm-down {
  .swiper-gallery {
    width: calc(100% - 30px);
    max-height: calc(100vh - 120px);
    height: auto;
    padding: 30px 0;
    .swiper-slide {
      img {
        width: 100%;
        max-height: calc(100vh - 275px);
        height: calc(100vh - 200px);
        max-width: 100%;
        min-width: 0;
        min-height: 0;
      }
      .swiper-gallery-caption {
        min-height: 0;
        font-size: 16px;
        line-height: 1.2;
        padding-bottom: 15px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: auto;
      bottom: 15px;
      position: absolute;
    }
    .swiper-button-prev {
      left: 0px;
    }
    .swiper-button-next {
      right: 0px;
    }
  }
  .swiper-article {
    width: calc(100% - 40px);
    padding: 30px 0 15px 0;
    .swiper-gallery-title {
      padding-bottom: 5px;
    }
    .swiper-gallery-date {
      padding-bottom: 30px;
    }
    .swiper-slide {
      img {
        width: 190%;
        max-width: 100%;
        height: 70vw;
        max-height: 60vh;
        object-fit: contain;
        margin: auto;
        display: block;
        margin-bottom: 15px;
      }
    }
    .swiper-pagination {
      bottom: 0;
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: auto;
      bottom: 0;
    }
    .swiper-button-prev {
      left: 0px;
    }
    .swiper-button-next {
      right: 0px;
    }
  }
  .product-section {
    padding-top: 15px;
    .product-title, .product-price,  {
      padding: 0 0 10px 0;
    }
    .box-link {
      margin: 15px auto;
    }
  }
  .expand-info,
  .article-content {
    background-color: rgba(255, 255, 255, 0);
    .container {
      padding: 30px 20px 40px 20px;
      background-color: rgba(255, 255, 255, .9);
    }
    .row {
      margin: 0;
      div {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .similar-projects{
      padding-bottom: 30px;
    }
    .section-title {
      margin: 45px 0 15px 0;
    }
    .box-link {
      margin: 0px auto 40px auto;
      left: 50%;
    }
  }
  .expand-order {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 15px;
  }
  .article-content {
    .box-link {
      margin: 0px auto;
    }
  }
  .more-info-toggle-wrapper {
    height: 60px;
    padding: 15px 15px;
  }
  .close {
    right: 20px;
    top: 20px;
  }
  .order-form {
    input.half-width,
    input.half-width:nth-child(6) {
      width: 100%;
      float: none;
    }
    textarea.input-message {
      height: 100px;
    }
    .box-link {
      margin: 10px auto;
    }
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .swiper-gallery {
    max-height: 100%;
    height: auto;
    padding: 30px 0;
    .swiper-slide {
      img {
        width: 100%;
        max-height: calc(100vh - 100px);
        height: auto;
        max-width: 70%;
        padding-bottom: 60px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 60%;
      bottom: auto;
      position: absolute;
    }
  }
}



/* Footer ------------------------------------------------------- */

footer {
  height: 80px;
  padding: 0 20px;
  margin-top: 30px;
}
.footer-content {
  border-top: 1px solid rgba(0,0,0,0.3);
  width: calc(100% - 20px);
  margin: auto;
  padding:25px 0 20px 0;
  position: relative;
}
.social-icons {
  position: absolute;
  left: 0;
  top: 25px;

}
.social-icon {
  margin-right: .4em;
  display: inline-block;
  width: 30px;
  height: 30px;
    transition: opacity .2s ease-in-out;
  svg {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.copyright {
  display: block;
  margin: auto;
  font-size: 0.7em;
  text-align: center;
  padding-top: 5px;
}
.arrow-up {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 0;
  width: 30px;
  height: 30px;
  svg {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.black{
  fill:#231F20;
}
@include sm-down {
  footer {
    height: 60px;
    padding: 0 20px;
    margin-top: 0px;
  }
  .footer-content {
    width: 100%;
    padding: 20px 0;
  }
  .social-icons,
  .arrow-up {
    top: 20px;

  }
  .copyright {
    padding-top: 2px;
  }
  .social-icon,
  .arrow-up {
    width: 20px;
    height: auto;
    svg {
      width: auto;
      height: 20px;
    }
  }
}


@media (min-width: 992px) {

  .news-list-item:hover,
  .project-list-item:hover {
    img{
      transform: scale(1.1);
    }
    // .underline:before {
    //   width: 100%;
    // }
  }

  .underline:hover::before {
    width: 100%;
  }
  .more-info-toggle:hover{
    opacity: 1;
  }
  .arrow-up:hover svg{
    animation: slideup .3s ease-in-out;
  }
  .news-list-item:hover .news-list-title:after {
    animation: slideleft .3s ease-in-out;
  }
  .swiper-button-next:hover img{
    animation: slideright .3s ease-in-out;
  }
  .swiper-button-prev:hover img{
    animation: slideleft .3s ease-in-out;
  }
  .press-link:hover:after {
    animation: slideright .3s ease-in-out;
  }
  .doc-col a:hover img{
    animation: slidedown .3s ease-in-out;
  }
  .social-icon:hover {
    opacity: .7;
  }
  .box-link:hover {
    color: #fff;
  }
  .box-link:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
}
@keyframes slideup {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -10px);
  }
}
@keyframes slidedown {
  0%,
  100% {
    transform: translate(0, 0) rotate(90deg);
  }

  50% {
    transform: translate(0, -10px) rotate(90deg);
  }
}
@keyframes slideleft {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-10px, 0);
  }
}
@keyframes slideright {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
