// Colors
$text-color: #2B2835;
$heading-color: #162056;
$brand-dark: #162056;
$brand-light: #3DA8F4;

// Fonts
$heading-font:  Helvetica, Arial, sans-serif;
$sans: Helvetica, Arial, sans-serif;

// Animations
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

$container-padding: 15px;
// Breakpoints
$sm-min: 767px; // tablet vertical
$md-min: 991px; // desktop + horizontal tablet
$lg-min: 1500px; // large desktop
$xxl: 1499px; // large desktop

@font-face {
    font-family: 'Value-font';
    src: url('fonts/value-regular.eot');
    src: url('fonts/value-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/value-regular.woff') format('woff'),
         url('fonts/value-regular.woff2') format('woff2'),
         url('fonts/value-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Value-font';
    src: url('fonts/value-bold.eot');
    src: url('fonts/value-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/value-bold.woff') format('woff'),
         url('fonts/value-bold.woff2') format('woff2'),
         url('fonts/value-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
